@font-face {
  font-family: 'MinecraftFixed';
  src: url('/MinecraftSevenv2-Game.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftFixed-Bold';
  src: url('/MinecraftSevenv2-Game-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Unifont';
  src: url('/unifont.otf') format('opentype');
}

:root {
  --text-color: #FFFFFF;
  --bg-color: #202024;
  --toolbar-color: #28282b;
  --editor-color: #37373d;
  --button-color: #47474d;
  --button-active-color: #686870;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100vw;
  background-color: var(--bg-color);
  font-size: 2.8em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 1.8em;
  font-family: 'MinecraftFixed-Bold';
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 2em;
  color: var(--text-color);
}

.editor-stack {
  width: 32.5em;
  --color: #FFFFFF;
  --shadow: #3F3F3F;
  position: relative;
  outline: .15em solid var(--toolbar-color);
  border-radius: .2em;
  height: 10.3em;
  background-color: var(--editor-color);
}

/* offsetting continued lines has been postponed indefinitely because
i CANNOT figure out how to do it without recalculating everything and
making it even less performant than it already is */

.editor {
  color: var(--color);
  width: 100%;
  min-height: 100%;
  padding: .2em;
  font-family: 'MinecraftFixed', 'Unifont';
  border: none;
  position: absolute;
  user-select: none;
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;
  outline: none;
  word-spacing: .1em;
  line-height: .9em;
}

#editor-wrap {
  height: calc(100% - 1em);
  overflow-y: scroll;
  scrollbar-width: none;
  position: relative;
}

#editor {
  user-select: text;
}

/* strikethrough */
#editor-overlay * {
  line-height: .2em;
  color: transparent;
}

.editor * {
  position: relative;
  color: var(--color);
}

#editor-shadow * {
  color: var(--shadow);
  translate: .1em .1em;
  display: inline-block;
}

#editor-shadow .emoji {
  translate: 0 0;
  text-shadow: .1em .1em var(--shadow);
}

#editor-overlay {
  pointer-events: none;
  white-space: nowrap;
  color: transparent;
}

#editor-overlay span {
  display: inline-block;
}

/* without this lines don't break properly */
.editor .space {
  display: inline-block;
}

/* spaces don't render if they're at the beginning of a line */
.editor .nl-space {
  font-size: 0;
}