@font-face {
  font-family: 'MinecraftFixed';
  src: url('/MinecraftSevenv2-Game.ttf') format('truetype');
}

@font-face {
  font-family: 'MinecraftFixed-Bold';
  src: url('/MinecraftSevenv2-Game-Bold.ttf') format('truetype');
}

:root {
  --text-color: #FFFFFF;
  --bg-color: #202024;
  --toolbar-color: #28282b;
  --editor-color: #37373d;
  --button-color: #47474d;
  --button-active-color: #686870;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100vw;
  background-color: var(--bg-color);
  font-size: .3em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 15em;
  font-family: 'MinecraftFixed-Bold';
  font-weight: normal;
  margin-top: 1.5em;
  margin-bottom: 2em;
  color: var(--text-color);
}

.editor-stack {
  font-size: 9em;
  width: 32.5em;
  --color: #FFFFFF;
  --shadow: #3F3F3F;
  position: relative;
  outline: .15em solid var(--toolbar-color);
  border-radius: .2em;
  height: 11em;
  background-color: var(--editor-color);
}

/* offsetting continued lines has been postponed indefinitely because
i CANNOT figure out how to do it without recalculating everything and
making it even less performant than it already is */

.editor {
  color: var(--color);
  width: 100%;
  height: 100%;
  padding: .2em;
  font-family: 'MinecraftFixed';
  border: none;
  white-space: keep-all;
  position: absolute;
  user-select: none;
  height: 10em;
  border-bottom-left-radius: .2em;
  border-bottom-right-radius: .2em;
  outline: none;
}

.toolbar {
  width: 100%;
  height: 1em;
  background-color: var(--toolbar-color);
  display: flex;
  align-items: center;
  gap: .1em;
}

.toolbar button {
  background-color: var(--button-color);
  color: white;
  font-size: .7em;
  border: none;
  font-family: 'MinecraftFixed';
  width: 1.2em;
  height: 1.2em;
  border-radius: .2em;
  translate: 0 -.1em;
  cursor: pointer;
  transition: background-color .1s;
}

.toolbar button:hover, .toolbar button.active {
  background-color: var(--button-active-color);
}

button#bold {
  font-family: 'MinecraftFixed-Bold';
}

button#italic {
  font-style: italic;
}

button#italic span {
  display: inline-block;
  translate: -.1em 0;
}

button#underline {
  text-decoration: underline;
}

button#strikethrough::before {
  content: '';
  border-bottom: .1em solid var(--color);
  position: absolute;
  font-size: inherit;
  margin-bottom: .1em;
  margin-left: .2em;
  width: calc(100% - .4em);
  left: 0;
  bottom: 0;
  translate: 0 -.45em;
}

#editor {
  user-select: text;
}

.editor * {
  line-height: .2em;
  position: relative;
}

#editor-shadow {
  white-space: nowrap;
}

#editor-shadow * {
  color: transparent;
  text-shadow: .1em .1em var(--shadow);
}

#editor-overlay {
  pointer-events: none;
  white-space: nowrap;
  color: transparent;
}

#editor-overlay span {
  display: inline-block;
}

/* spaces, if the only thing in an element and at the end of a line, don't render
 unless they're non-breaking. they can't be non-breaking because then the text
 doesn't wrap. so we force them to have a fixed width to emulate a space */
.editor .space {
  width: .4em;
  display: inline-block;
  cursor: text;
}

/* the increase in font spacing doesn't apply to bolded text, so we have to
 manually increase the width of the space */
.editor .space.bold {
  width: .5em;
}

/* spaces don't render if they're at the beginning of a line */
.editor .nl-space {
  font-size: 0;
}

.editor .emoji {
  width: calc(.8em / 0.6);
  height: .1em;
  translate: 0 -.15em;
  display: inline-block;
  font-size: .6em;
  scale: 1.2;
}

.editor .bold {
  font-weight: normal;
  font-family: 'MinecraftFixed-Bold';
}

.editor .italic {
  font-style: italic;
}

body:not(.show-strikethrough) #editor-overlay {
  display: none;
}

#editor-overlay .strikethrough::before {
  content: '';
  border-bottom: .1em solid var(--color);
  position: absolute;
  font-size: inherit;
  margin-bottom: -.1em;
  padding-left: .05em;
  padding-right: .05em;
  margin-left: -.05em;
  margin-right: -.05em;
  width: 100%;
  left: 0;
  bottom: 0;
  translate: 0 -.45em;
}

#editor-shadow .strikethrough::before {
  content: '';
  border-bottom: .1em solid var(--shadow);
  position: absolute;
  font-size: inherit;
  margin-bottom: -.1em;
  padding-left: .05em;
  padding-right: .05em;
  margin-left: -.05em;
  margin-right: -.05em;
  width: 100%;
  left: 0;
  bottom: 0;
  translate: .1em -.35em;
}

#editor .underline {
  border-bottom: .1em solid var(--color);
  margin-bottom: -.1em;
  padding-left: .05em;
  padding-right: .05em;
  margin-left: -.05em;
  margin-right: -.05em;
}

/* yeah idek for this one */
#editor .underline.space {
  width: .5em;
}

#editor .underline.space.bold {
  width: .6em;
}

#editor-shadow .underline::after {
  content: '';
  border-bottom: .1em solid var(--shadow);
  position: absolute;
  font-size: inherit;
  margin-bottom: -.1em;
  padding-left: .05em;
  padding-right: .05em;
  margin-left: -.05em;
  margin-right: -.05em;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  translate: .1em .1em;
}