@font-face {
  font-family: 'MinecraftFixed';
  src: url('/MinecraftSevenv2-Game.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100vw;
  display: flex;
  background-image: url('/bg.png');
  background-size: 2em;
  image-rendering: pixelated;
  justify-content: center;
  align-items: center;
  font-size: .3em;
}

#editor {
  position: absolute;
  font-size: 10em;
  word-spacing: .1em;
  width: 32em;
  outline: orange solid 2px;
  color: white;
  font-family: 'MinecraftFixed';
  border: none;
}

/* #editor .bold {
  font-weight: normal;
  letter-spacing: .1em;
} */

#editor .bold {
  font-weight: bold;
}

#editor .italic {
  font-style: italic;
}

#editor .underline {
  text-decoration: underline;
}